Repository yuto-kimura-g/github-actions-sandbox, changes with the labels that .github/labeler.yml gives for each.
All labels: area/test, area/workflow, area/docs

Update .gitignore (#1)
  .gitignore
Labels: none

Add dummy.txt
  dummy.txt
Labels: none

Add size-label.yml (#8)
  .github/workflows/size-label.yml
Labels: area/workflow

Update README
  README.md
Labels: area/docs

Add dependabot.yml (#10)
  .github/dependabot.yml
Labels: area/workflow

Add permission
  .github/workflows/size-label.yml
Labels: area/workflow

Add more permission
  .github/workflows/size-label.yml
Labels: area/workflow

Update README
  README.md
Labels: area/docs

Update README.md
  README.md
Labels: area/docs

うるさいので消す
  .github/workflows/stale.yml
Labels: area/workflow

WIP: test
  .github/workflows/test.yml
Labels: area/workflow

WIP: test
  .github/workflows/test.yml
Labels: area/workflow

WIP: test
  .github/workflows/test.yml
Labels: area/workflow

.github/labeler.yml:

area/test:
  - changed-files:
      - any-glob-to-any-file: "tests/**"
area/workflow:
  - changed-files:
      - any-glob-to-any-file: ".github/**"
area/docs:
  - changed-files:
      - any-glob-to-any-file: "docs/**"
      - any-glob-to-any-file: "**/*.md"
